:root {
	--bg: #000000;
	--secondary: #14213d;
	--hover: #fca311;
	--primary: #ffffff;
}
body {
	min-height: 100vh;
	background-color: var(--bg) !important;
	color: var(--primary) !important;
}
button,
[type="button"],
[type="reset"],
[type="submit"] {
	background-color: var(--secondary) !important;
}
